<% layout("/layouts/boilerplate") -%>
<style>
    .table{
        
        height:auto;
        width: 50%;
        padding:23px 0px;
        margin:20px;
    }
    ul{
        list-style-type: none;   
     }
     
</style>
<body>
        <h1><%= list.title %></h1>
            <div class="table">
           <ul>
            <li><img  src="<%= list.image.url %>" height="300" width="500"
            class="card-img-top show-img"/></li>
            <b class="mt=3">Bestseller </b>
            <i class="card-text"><%= list.owner.username %></i>

            <p class="card-text> price:<b><%= list.price.toLocaleString("en-IN") %></b></p>
            <br/>
            <p class="card-text"><b><%= list.description %></b></p>
            <p> location:<b><%= list.location %></b></p>
            <p> country<b><%= list.country %></b></p>
           </ul> 
           <br>
        </div> 
        <% if(currUser && list.owner._id.equals(currUser._id)){ %> 

            <div class="">
           <button class="card-btn my-2 "><a href="/listing/<%= list._id %>/edit">edit post</a></button>
           
          <form method="POST" action="/listing/<%= list._id %>?_method=DELETE">
            <button class="card-btn">delete</button></form> 
            </div>

                <% } %>
          
            <div class="col-8 offset-3 mb-3">
                <hr/>
                <h4>Leave a Review</h4>
                <% if(currUser){%>
                <form method="POST" action="/listing/<%= list.id %>/reviews" novalidate class="needs-validation">
            <!---      <div class="mb-3 mt-3">
                        <label for="rating" class="form-label">Rating</label>
                        <input type="range"
                         min="1" max="5" id="rating" 
                         name="review[rating]"/> 
                    </div>
                -->
                <div class="mb-3 mt-3"> 
                    <label for="rating" class="form-label">Rating</label>
                    <fieldset class="starability-slot">
                        <input type="radio" id="no-rate"
                         class="input-no-rate" 
                        name="review[rating]" value="1" 
                        checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                      </fieldset>

                      </div>


                    <div class="mb-3 mt-3">
                        <label for="comment" class="form-label">Comments</label>
                        <textarea name="review[comment]" 
                        id="comment" cols="30" row="10"
                            class="form-control" required ></textarea>
                            <div class="invalid-feedback">Please add some comments for review </div>
                    </div>
                    <button class="btn btn-outline-dark">Submit</button>
                </form>
                <% } %>

                <hr/>
                <h4><b>All reviews </b></h4>
                <div class="row">
                <% for(review of list.reviews){ %>
                    <div class="card col-5 ms-3 mb-3 border border-black">
                         <div class="card-body">
                            <h5 class="card-title">@<%= review.author.username %></h5>
                            <p class="starability-result card-text" data-rating="<%= review.rating %>"> </p>

                           <p class="card-text"><%= review.comment %></p>
                       
                
                    </div>
                    <form class="mb-3" method="POST" action="/listing/<%=list._id %>/reviews/<%= review._id %>?_method=DELETE">
                        <button class="btn btn-sm btn-dark ">delete</button>
                    </form>
                </div>
                    <% }%>
            </div>
        </div>
</body>
